@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

// Font Stack
$font-stack: "Public Sans", sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$font-size-text: 18px;

// Primary Colors
$primary-dark-blue: hsl(233, 26%, 24%);
$primary-lime-green: hsl(136, 65%, 51%);
$primary-bright-cyan: hsl(192, 70%, 51%);

// Secondary Colors
$secondary-grayish-blue: hsl(233, 8%, 62%);
$secondary-light-grayish-Blue: hsl(220, 16%, 96%);
$secondary-very-light-gray: hsl(0, 0%, 98%);

// Gradient
$gradient: (
  linear-gradient(to right, $primary-lime-green, $primary-bright-cyan)
);

@mixin gradient-themed-button {
  background-image: $gradient;
  padding: 1em 1.8em;
  color: white;
  font-weight: $font-bold;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
