@import "../../styles/styles";

.feature {
    @include flex-column;
    padding: 1em;

    .feature-image {
        width: 75px;
        margin-bottom: 40px;
    }

    .feature-title {
        font-weight: $font-normal;
        margin-bottom: 40px;
        color: $primary-dark-blue;
    }

    .feature-text {
        line-height: 1.5em;
        opacity: 50%;
    }
}