@import '../../styles/styles';

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;

    nav {
        .nav-list {
            display: flex;
            list-style: none;

            .nav-item {
                margin: 0 0.8em;
                cursor: pointer;
                opacity: 50%;
            }
        }
    }

    .nav-cta-container {
        .nav-cta {
            @include gradient-themed-button;

            &:hover {
                // Border bottom is a gradient
            }
        }
    }
}